.btn {
	display: inline-block;
	padding: 1.5rem 2.5rem;

	background-color: $primary;
	border-radius: 10px;
	border: 2px solid $primary;

	color: $white;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	transition: background-color .2s, color .2s;

	&:hover {
		background-color: $white;
		color: $primary;
	}

	&--white {
		border-color: $white;
		color: $primary;
		background-color: #fff;

		&:hover {
			background-color: $primary;
			color: $white;
		}
	}

	&--bordered {
		border: 2px solid $white;
	}

	&--bordered_black {
		background-color: transparent;
		border: 2px solid $primary;
		
		color: $primary;

		&:hover {
			color: $white;
			background-color: $primary;
		}
	}
}


.btn__nav {
	display: block;
	width: 40px;
	height: 40px;

	background-color: #333;
	border: none;
	border-radius: 50%;

	position: relative;

	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-bottom: #fff solid 2px;
		border-right: #fff solid 2px;

		position: absolute;
		left: 14px;
		top: 15px;
		z-index: 20;

		transform: rotate(-45deg);
		transition: background-color .2s;
	}

	&--left {
		&::after {
			left: 17px;
			transform: rotate(135deg);
		}
	}

	&:hover {
		background-color: lighten($color: $primary, $amount: 7%);
	}
}







.products__link {
	display: inline-block;
	margin-left: 5.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	
	color: $primary;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	position: relative;

	&::before {
		content: "";
		display: block;
		width: 40px;
		height: 40px;

		background-color: #333;
		border-radius: 50%;

		position: absolute;
		left: -55px;
		top: 50%;
		z-index: 10;
		transform: translateY(-50%);

		transition: background-color .2s;
	}

	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-bottom: #fff solid 2px;
		border-right: #fff solid 2px;

		position: absolute;
		left: -43px;
		top: 50%;
		z-index: 20;

		transform: rotate(-45deg) translateY(-40%) translateX(50%);
	}

	&:hover {
		text-decoration: underline;

		&::before {
			background-color: lighten($color: #333, $amount: 10%);
		}
	}
}