.partners {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	@include breakpoint($tablet-sm) {
		flex-direction: column;
	}
}

.partners__text {
	max-width: 530px;
	font-size: 1.4rem;
}

.partners__text-item {
	margin-bottom: 4rem;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.partners__items {
	min-width: 350px;
	width: 636px;
	display: flex;
	flex-wrap: wrap;
	gap: 1.8rem;
	justify-content: center;

	@include breakpoint($tablet-sm) {
		margin-top: 3rem;
		width: auto;
	}

	@include breakpoint($mobile) {
		justify-content: space-around;
		gap: 1rem;
	}
}

.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 120px;

	@include breakpoint($tablet) {
		width: 150px;
	}

	@include breakpoint($tablet-sm) {
		width: 200px;
	}

	@include breakpoint($mobile) {
		width: 150px;
	}
}

.partners__item-img {
	object-fit: contain;
	max-height: 60px;
	width: 150px;

	// @include breakpoint($tablet-sm) {
	// 	width: 200px;
	// }
}