.section {
	padding: 15rem 0;

	&--gray {
		background-color: #f0f0f0;
	}

	&--sm {
		padding: 12rem 0 14rem;
	}

	@include breakpoint($tablet) {
		padding: 12rem 0;

		&--sm {
			padding: 10rem 0 12rem;
		}
	}

	@include breakpoint($tablet-sm) {
		padding: 10rem 0;

		&--sm {
			padding: 8rem;
		}
	}
}

.section__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;

	&--white {
		color: $white;
	}

	@include breakpoint($tablet) {
		gap: 2.5rem;
	}

	@include breakpoint($tablet-sm) {
		flex-direction: column;
		text-align: center;
	}
}

.section__title {
	max-width: 620px;
	font-size: 4.8rem;
	font-weight: 700;
	white-space: nowrap;

	@include breakpoint($tablet-sm) {
		white-space: inherit;
	}

	@include breakpoint($mobile) {
		font-size: 3.6rem;
	}
}

.section__text {
	max-width: 700px;
	font-size: 1.8rem;
}

.section__end {
	&--plan {
		display: flex;
		gap: 3rem;
	}

	&--news {
		margin-right: 3rem;
		display: flex;
		gap: 1.5rem;
	}
}