<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__item">
				<h2 class="footer__title">Квартиры</h2>
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Студии</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">1-комнатные квартиры</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">2-комнатные квартиры</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">3-комнатные квартиры</a>
					</li>
				</ul>
			</div>

			<div class="footer__item">
				<h2 class="footer__title">О компании</h2>
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Лицензии и сертификаты</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Вакансии</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Наши объекты</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Контакты</a>
					</li>
				</ul>
			</div>

			<div class="footer__item  footer__item--contact">
				<h2 class="footer__title">Социальные сети</h2>

				<div class="footer__socials">
					<a class="footer__socials-link" href="#">
						<img class="footer__socials-img" src="assets/images/logo_vk.svg" alt="">
					</a>
					<a class="footer__socials-link" href="#">
						<img class="footer__socials-img" src="assets/images/logo_youtube.svg" alt="">
					</a>
					<a class="footer__socials-link" href="#">
						<img class="footer__socials-img" src="assets/images/logo_facebook.svg" alt="">
					</a>
					<a class="footer__socials-link" href="#">
						<img class="footer__socials-img" src="assets/images/logo_instagram.svg" alt="">
					</a>
				</div>

				<div class="footer__award">
					<p class="footer__award-text">Наш сайт участвует в конкурсе: “ТОП-10 Строительных компании Северно-запада”</p>
					<img class="footer__award-img" src="assets/images/award.png" alt="">
				</div>
			</div>

			<div class="footer__item  footer__item--contact">
				<div class="footer__contact">
					<a class="footer__contact-link" href="tel: +78121234567">+7 (812) 123-45-67</a>
				</div>
				<div class="footer__info">
					<div class="footer__address">Санкт-Петербург, <br> Невский пр. 140, офис 23-26</div>
					<div class="footer__schedule">Пн-Пт с 10:00 до 20:00</div>
					<div class="footer__schedule">Сб-Вск с 10:00 до 18:00</div>
				</div>

				<div class="footer__contact  footer__contact--last">
					<a class="footer__contact-link" href="mailto: office@dev-spb.ru">office@dev-spb.ru</a>
				</div>
			</div>
		</div> <!-- /.footer__inner -->
	</div>

	<div class="footer__copyright">
		<div class="container">
			<div class="footer__copyright-wrapper">
				<a href="#">
					<img class="footer__logo" src="assets/images/mainLogo.svg" alt="">
				</a>

				<p class="footer__copyright-text">(c) 2021. Все права защищены. Строительная компания №1. Использование материалов только с указанием источника</p>

				<a class="footer__politic" href="#">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>
